:root {
    --background: #f0f0f0;
    --design-color: #e6563b;
    --develop-color: #eb9d3a;
    --support-color: #7cb06c;
    --host-color: #00aba9;
    --border-color: #e6e6e6;
    --abel-font: 'Abel', sans-serif;
    --anton-font: 'Anton', sans-serif;
}

body, .card-div {
    background: var(--background);
    font-family: var(--abel-font);
}

nav a, .title, h5 {
    font-family: var(--abel-font);
}

.logo {
    height: 105px;
    width: 105px;
}

h1, h2, h4, .custom-circle, .small-circle {
    font-family: var(--anton-font);
}

h2:nth-of-type(2), h5 {
    font-size: 1rem;
}

h5 {
    padding-top: .25em;
}

.custom-circle, .card-img img {
    border: 6px solid;
}

.custom-circle {
    width: 100px;
    height: 100px;
    color: #ffffff;
    margin: 0 1em;
}

.circle-design, .small-circle-design {
    background-color: var(--design-color);
}

.circle-develop, .small-circle-develop {
    background-color: var(--develop-color);
}

.circle-support, .small-circle-support {
    background-color: var(--support-color);
}

.circle-host, .small-circle-host {
    background-color: var(--host-color);
}

.card-div {
    border: none;
    padding: 0 .75em;
}

.card-img img {
    border-color: var(--border-color);
}

.small-circle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    color: black;
    font-size: 10px;
    margin: 0 .25em;
}

.side-image img {
    height: 60px;
    width: 60px;
}

.tweet {
    margin-top: -10px;
    font-family: Arial;
}

h4 {
    font-size: 1.25rem;
}

@media (min-width: 768px) {
    h4 {
        font-size: 1rem;
    }
}


@media (min-width: 992px) {
    h4 {
        font-size: 1.35rem;
    }
    h1.display-1 {
        font-size: 4.25rem;
    }
}


@media (min-width: 1200px) {
    h4 {
        font-size: 1.5rem;
    }
}

@media (min-width: 1400px) {
    h4 {
        font-size: 1.75rem;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .card-title {
        font-size: 0.75rem;
    }
}
