* {
    /*background: #f0f0f0;*/
}
:root {
    --background: #f0f0f0;
    --design-color: #e6563b;
    --develop-color: #eb9d3a;
    --support-color: #7cb06c;
    --host-color: #00aba9;
    --border-color: #e6e6e6;
    --abel-font: 'Abel', sans-serif;
    --anton-font: 'Anton', sans-serif;
}
body{
    background: var(--background);
}

.logo{
    height: 105px;
    width: 105px;
}

nav a, .title{
    font-family: var(--abel-font);
}

h1, h2, h4{
    font-family: var(--anton-font);
}
h2:nth-of-type(2){
    font-family: var(--abel-font);
    font-size: 1rem;
}
h5{
    font-family: var(--abel-font);
    font-size: 1rem;
}

.custom-circle {
    width: 100px;
    height: 100px;
    border: 6px solid white;
    color: #ffffff;
    font-family: 'Anton', sans-serif;
    margin: 0 1em;
}

.circle-design {
    background-color: var(--design-color);
}

.circle-develop {
    background-color: var(--develop-color);
}

.circle-support {
    background-color: var(--support-color);
}

.circle-host {
    background-color: var(--host-color);
}
.custom-circle2 {
    width: 18px;
    height: 18px;
    font-size: 10px;
    font-family: 'Anton', sans-serif;
    margin: 0 0.2em;
}
.card-img-top{
    border: .5em var(--border-color) solid;
}
.side-img{
    border:.2em var(--border-color) solid;
}
.side-container{
    display: flex;
    padding: 0;
    margin-bottom: 4em;
}
